body {
    background-color: #fff0f5;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffb6c1;
    padding: 30px;
    color: white;
}

section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #ffb6c1;
    color: white;
    padding: 10px;
    margin-top: 30px;
}
